<br><br><br>
<h1>Login</h1>

    <form action="/login" method="POST">
      
      <h2>
        Email <br>
        <input
          type="email"
          name="email"
          placeholder="rockstar@ironhack.com"
          required
        />
      </h2>

      <h2>Password <br>
        <input
          type="password"
          name="password"
          placeholder="********"
          required
        />
      </h2>

      <button type="submit" class="button">Log In</button>

    </form>