<div id="form">
    <h1>Login</h1>

    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}

    <form action="/login" method="POST">
<br><br>
        <h2> Email
            <input type="email" name="email" placeholder="rockstar@ironhack.com" required />
        </h2>

        <h2>Password
            <input type="password" name="password" placeholder="********" required />
        </h2>

 <button class="button-54" role="button"
     type="submit">Login</button>

    </form>
</div>