<div id="form">
  <h1>Signup</h1>
  <form action="/signup" method="POST">
<br><br>
    <h2> Email
      <input type="email" name="email" placeholder="rockstar@ironhack.com" required />
    </h2>

    <h2> Password
      <input type="password" name="password" placeholder="********" required />
    </h2>

    <button class="button-54" role="button" type="submit">Create account</button>

    {{#if errorMessage}}
   {{errorMessage}}
{{/if}}
  </form>
</div>

