.form * {
    box-sizing: border-box;
    line-height: 1.5;
}

.form__title{

    font-size: 2em;
    font-weight: 600;
}

.form__item{
    display: flex;
    flex-direction: column;
}
.form__item > * {

    align-self: flex-start;
}

.form__label {
    font-weight: 600;
    padding: 10px 0
}

.form__input{
    -webkit-appereance: none;

    width: 100%;
    max-width: 425px
}