<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Wallet Tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <header>
      <p>
        <a href="/"> Home</a> |
        <a href="/coins/create"> Create a Coin</a> |
        <a href="/coins"> List of Coins</a> 
      </p>

      <p>
         {{#if userInSession}}
            Hello, {{ userInSession.email }} |
            <a href="/user-profile">Profile</a> |
            <a href="/portfolio">View Portfolios</a> |
            <a href="/portfolio/create">Create Portfolio</a>
            <br>
            <form id="logout-form" action="/logout" method="POST">
               <button>Logout</button>
            </form>
         {{else}}
            <a href="/signup">Register</a> |
            <a href="/login">Login</a> |
         {{/if}}
      </p>
    </header>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>