<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Wallet Tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    

    {{#if userInSession}}
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/coins/create">Add a Coin</a></li>
        <li><a href="/coins">View Coins</a></li>
        <li><a href="/portfolio">View Portfolios</a></li>
        <li><a href="/portfolio/create">Create Portfolio</a></li>
        <li style="float:right"><a href="/user-profile">Profile</a></li>
        <li style="float:right" class="button-li"><form action="/logout" method="POST"><button type="submit" class="nav-button">Log Out</button></form></li>
      </ul>
      <div class="name">
        <h1 >Hello, {{userInSession.email}} </h1>
        <br/>
      {{{body}}}
      </div>
      
      
    {{else}}
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/coins/create">Add a Coin</a></li>
        <li><a href="/coins">List of Coins</a></li>
        <li style="float:right"><a href="/login">Log In</a></li>
        <li style="float:right"><a href="/signup">Sign Up</a></li>
      </ul>
      {{{body}}}
    {{/if}}

    <script src="/js/script.js"></script>
  </body>

</html>