<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Wallet Tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <header>
    


<div class="navbar">
   <button class="button-54" role="button">
  <a href="/">Home</a></button>
  <div class="dropdown">
     <button class="button-54" role="button">
   +
     
    </button>
    <div class="dropdown-content">
        <button class="button-54" role="button">
      <a href="/login">Log In</a></button>
        <button class="button-54" role="button">
      <a href="/signup">Sign Up</a></button>
        <button class="button-54" role="button">
      <a href="coins/create">Add a Coin</a></button>
       <button class="button-54" role="button">
      <a href="/coins">List of Coins</a></button>
    </div>
  </div>
</div>


<br><br><div><br></div>
      </p></ul>
    {{{body}}}
      <p>
        <br><br><h1>
         {{#if userInSession}}
            Hello, {{ userInSession.email }} </h1>
             <button class="button-54" role="button">
            <a href="/user-profile">Profile</a></button>
                <button class="button-54" role="button">
            <a href="/portfolio">View Portfolios</a></button>
             <button class="button-54" role="button">
            <a href="/portfolio/create">Create Portfolio</a></button>
            <br>
            <form id="logout-form" action="/logout" method="POST">
                <button class="button-56" role="button">Logout</button>
            </form>
         {{else}}
          <button class="button-56" role="button">
            <a href="/signup">Register</a></button>
             <button class="button-56" role="button">
            <a href="/login">Login</a></button>
         {{/if}}
      </p>
    </header>






    <script src="/js/script.js"></script>
  </body>


</html>
