<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <header>
      <p>
         <button class="button-8" role="button">
        <a href="/"> Home</a></button>
        <button class="button-8" role="button">
        <a href="/coins/create"> Create a Coin</a></button>
        <button class="button-8" role="button">
        <a href="/coins"> List of Coins</a> </button>
      </p>
    {{{body}}}
      <p>
         {{#if userInSession}}
            Hello, {{ userInSession.email }} |
            <a href="/user-profile">Profile</a> |
            <a href="/portfolio">View Portfolios</a> |
            <a href="/portfolio/create">Create Portfolio</a>
            <br>
            <form id="logout-form" action="/logout" method="POST">
               <button>Logout</button>
            </form>
         {{else}}
          <button class="button-56" role="button">
            <a href="/signup">Register</a></button>
             <button class="button-56" role="button">
            <a href="/login">Login</a></button>
         {{/if}}
      </p>
    </header>






    <script src="/js/script.js"></script>
  </body>


</html>
