<br><br><br>

    
    <h1>{{name}}</h1>
        <h2>Shortname:  {{ticker}}</h2> 
        <h2>Price:
        ${{value}}</h2>
        <form action="/coins/{{_id}}/delete" method="POST">
         <button class="button">
            Delete</button>
        </form>
    

 <button class="button">
<a href="/coins">Back</a></button>