<h2>Coins</h2>

<form action="/celebrities/create" method="post">

<label>Name:
    <input type="text" name="name" />
</label>

<label>Value:
     <input type="text" value="value" />
</label>

<label>:Marketcap
     <input type="text" marketcap="marketcap" />
</label>

<label>:Shortname
     <input type="text" shortname="shortname" />
</label>


  <button type="submit"> Create </button>

</form>