<h2>Add a Coin</h2>

<form action="/coins/create" method="post">
  <label> Name:
    <input type="text" name="name" />
  </label>

  <label> Marketcap:
    <input type="number" name="marketcap" />
  </label>

  <label> Value:
    <input type="number" name="value" />
  </label>

  <label> Ticker:
    <input type="text" name="ticker"/>
  </label>

  <button type="submit"> Create Coin </button>
</form>