<h2>Add a Coin</h2>

<form action="/coins/create" method="post">
  <label> Name (e.g. Bitcoin):
    <input type="text" name="name" />
  </label>
 <br/>
  <label> Shortname (e.g. BTC):
    <input type="text" name="ticker"/>
  </label>
<br/>

  <button type="submit"> Create Coin </button>
</form>