<h2>Add a real Coin</h2>

<form action="/coins/create" method="post">
  <label> Name (e.g. Bitcoin):
    <input type="text" name="name" required/>
  </label>
 <br/>
  <label> Shortname (e.g. BTC):
    <input type="text" name="ticker" required/>
  </label>
<br/>

  <button type="submit"> Add Coin </button>
</form>


<h2>Create a custom Coin</h2>

<form action="/coins/create" method="post">
  <label> Name (e.g. MyCoin):
    <input type="text" name="name" required/>
  </label>
 <br/>
  <label> Shortname (e.g. MCN):
    <input type="text" name="ticker" required/>
  </label>
<br/>
<label> Price:
    <input type="text" name="value" required/>
  </label>
<br/>
  <button type="submit"> Create Coin </button>
</form>