<h1>Add a real Coin</h1>
<div id="form">
<form action="/coins/create" method="post">
  <ul><li><h2> Name (e.g. Bitcoin):
    <input type="text" name="name" required/>
  </h2></li>
 <br/>
  <li><h2> Shortname (e.g. BTC):
    <input type="text" name="ticker" required/>
  </h2></li>
<br/>
</div>
 <button class="button-54" role="button"
type="submit"> Add Coin </button>
</form></ul>
<br><br><br>

<h1>Create a custom Coin</h1>
<div id="form">
<form action="/coins/create" method="post">
<ul>
  <li><h2> Name:
    <input type="text" name="name" required/>
  </h2></li>
 <br/>
  <li><h2> Ticker:
    <input type="text" name="ticker" required/>
  </h2></li>
<br/>
<li><h2> Price:
    <input type="text" name="value" required/>
  </h2></li></ul>
<br/>
</div>
  <button class="button-54" role="button"
  type="submit"> Create Coin </button>
 
</form>