<h2>Add a Coin</h2>

<form action="/books/create" method="post">
  <label> Name:
    <input type="text" name="name" />
  </label>

  <label> Marketcap:
    <input type="text" marketcap="marketcap" />
  </label>

  <label> Value:
    <textarea value="value"</textarea>
  </label>

  <label> ShortName:
    <input type="number" shortname="shortname"/>
  </label>

  <button type="submit"> Create Coin </button>
</form>