<br><br><br>
<h1>Add a real Coin</h1>

<form action="/coins/create" method="post">
  <h2> Name (e.g. Bitcoin):<br/>
    <input type="text" name="name" required/>
  </h2>
 
  <h2> Shortname (e.g. BTC):<br/>
    <input type="text" name="ticker" required/>
  </h2>


 <button 
type="submit" class="button"> Add Coin </button>
</form>
<br><br><br>

<h1>Create a custom Coin</h1>

<form action="/coins/create" method="post">

  <h2> Name:<br/>
    <input type="text" name="name" required/>
  </h2>
 
  <h2> Shortname:<br/>
    <input type="text" name="ticker" required/>
  </h2>

<h2> Price:<br/>
    <input type="text" name="value" required/>
  </h2>


  <button 
  type="submit" class="button"> Create Coin </button>
 
</form>