<h1>Create a Portfolio</h1>

<form action="/portfolio/create" method="post">
  <h2> Title:
    <input type="text" name="title" required/>
  </h2>
 <br/>
  <h2> Coins:
    <br/>
    <select name="coin" multiple>
      {{#each coinArr}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <br/>
  </h2>
  <h2>Hold down the Ctrl (windows) / 
          Command (Mac) button to select multiple options.</h2>

  <button type="submit" class="button-54"> Create Portfolio </button>
</form>