<h2>Create a Portfolio</h2>

<form action="/portfolio/create" method="post">
  <label> Title:
    <input type="text" name="title" required/>
  </label>
 <br/>
  <label> Coins:
    <br/>
<<<<<<< HEAD
    <select name="coin">
      {{#each coinArr}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <br/>
    <select name="coin">
=======
    <select name="coin" multiple>
>>>>>>> 088d3fda0249d517bd0dbe2147ca477b6b2f8037
      {{#each coinArr}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>
    <br/>
  </label>
  <p>Hold down the Ctrl (windows) / 
          Command (Mac) button to select multiple options.</p>

  <button type="submit"> Create Portfolio </button>
</form>