<h1>Portfolios:</h1>

{{#each portfolios}}
 <section>
    <div>
        <h2>
            Title: {{this.title}}<br />

            Coins: 
            {{#each this.coin}}
            {{ticker}}
            {{/each}}

            
            <br />
             <button class="button-54" role="button">
            <a href="/portfolio/{{id}}">More details</a></button>
             <button class="button-54" role="button">
            <a href="/portfolio/{{_id}}/edit">Edit this portfolio</a></button>
        </h2>
</div id="form">
    </section>
{{/each}}

