<section>
    <h1>{{title}}</h1>
   <div >
    <p>
         
        <h2>Coins: <br/>
     {{#each coin}}
        {{this.name}} <br/>
        {{/each}} </h2> 
        </div>
    </p>

    <p>
        <br/>
        <h2>Total Value:<br/>
        ${{this.value}}<br/>
    </p></h2>
<br/>
    
        <form action="/portfolio/{{_id}}/delete" method="POST">
            <button class="button">Delete</button>
        </form>
    
        
    


</section>


   <button class="button">
<a href="/portfolio">Back</a></button>