<section>
    <h1>{{title}}</h1>
   <div >
    <p>
         
        <h2>Coins: 
     {{#each coin}}
        {{this.name}} <br/>
        {{/each}} </h2> 
        </div>
    </p>

    <p>
        <br/>
        <h2>Total Value:<br/>
        ${{this.value}}<br/>
    </p></h2>
<br/>
    <p>
        <h2 action="/portfolio/{{_id}}/delete" method="POST">
            <button class="button-54">Delete</button>
        </h2>
    

</p>
</section>


   <button class="button-56">
<a href="/portfolio">Back</a></button>