<section>
    <h2>{{title}}</h2>
    <p>
        <strong>Coins: </strong> 
        {{#each coin}}
        {{this.name}} 
        {{/each}}
        <br />
    </p>

    <p>
        <strong>Value:</strong>
        ${{this.value}}
    </p>

    <p>
        <form action="/portfolio/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
    </p>

</section>

<a href="/portfolio">Back</a>