<h1>Your Portfolios:</h1>

{{#each portfolios}}
 <section>
    <div>
        <h2>
            Title: {{this.title}}<br />

            Coins: 
            {{#each this.coin}}
            {{ticker}}
            {{/each}}
            <br>
             <button class="button">
            <a href="/portfolio/{{_id}}" >More details</a></button>
             <button class="button">
            <a href="/portfolio/{{_id}}/edit" >Edit this portfolio</a></button>
        </h2>
</div >
    </section>
{{/each}}

